<h1>BackboneAuthDemo</h1>

<% if(BackboneAuthDemo.currentUser.isSignedIn()) { %>

  <p>
    Signed in as:
    <a href="#users/<%= BackboneAuthDemo.currentUser.id %>"><%= BackboneAuthDemo.currentUser.escape("first_name") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a> |
		<a href="#/search">Search!</a>
  </p>

<% } else { %>

  <p>
    <a href="#users/new">Sign Up</a> |
    <a href="#session/new">Sign In</a>
  </p>

<% } %>

<hr>